import React from 'react';

export class <%= componentName %> extends React.Component {
  static propTypes = {};

  render() {
    return(<h1>Howdy!</h1>);
  }
}

export default <%= componentName %>;
